/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&kp Q      &kp W         &kp E     &kp R  &kp T      &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A      &kp S         &kp D     &kp F  &kp G      &kp H        &kp J  &kp K      &kp L       &kp BSPC
&kp LSHFT  &kp Z         &kp X     &kp C  &kp V      &kp B        &kp N  &kp M      &kp SEMI    &kp SQT
&kp LCTRL  &kp LEFT_WIN  &kp LALT  &none  &lt 2 RET  &lt 3 SPACE  &to 1  &kp COMMA  &kp PERIOD  &kp SLASH
&kp HOME
            >;

            sensor-bindings = <&inc_dec_kp TAB LS(TAB)>;
        };

        num_layer {
            label = "Numb";
            bindings = <
&kp N1     &kp N2        &kp N3    &kp N4       &kp N5        &kp N6           &kp N7        &kp N8     &kp N9      &kp N0
&kp GRAVE  &none         &none     &kp LBKT     &kp RBKT      &kp BSLH         &none         &kp MINUS  &kp EQUAL   &kp BSPC
&kp LSHFT  &none         &none     &kp KP_PLUS  &kp KP_MINUS  &kp KP_MULTIPLY  &kp KP_SLASH  &kp M      &kp SEMI    &kp SQT
&kp LCTRL  &kp LEFT_WIN  &kp LALT  &none        &lt 2 RET     &lt 3 SPACE      &to 0         &kp COMMA  &kp PERIOD  &kp SLASH
&kp HOME
            >;

            sensor-bindings = <&inc_dec_kp TAB LS(TAB)>;
        };

        base_repeat_layer {
            label = "Symb";
            bindings = <
&kp F1      &kp F2        &kp F3    &kp F4    &kp F5     &kp F6       &kp F7  &kp F8     &kp F9      &kp F10
&kp GRAVE   &none         &none     &kp LBKT  &kp RBKT   &kp BSLH     &none   &kp MINUS  &kp EQUAL   &kp BSPC
&kp LSHFT   &none         &none     &none     &none      &none        &none   &none      &kp SEMI    &kp SQT
&kp LCTRL   &kp LEFT_WIN  &kp LALT  &none     &lt 2 RET  &lt 3 SPACE  &none   &kp COMMA  &kp PERIOD  &kp SLASH
&sys_reset
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        func_layer {
            label = "Navi";
            bindings = <
&kp ESCAPE   &none             &kp LC(LS(UP))    &none              &none      &none        &none  &none     &kp HOME  &kp END
&kp TAB      &kp LS(LC(LEFT))  &kp LS(LC(DOWN))  &kp LS(LC(RIGHT))  &none      &none        &none  &none     &none     &kp DEL
&kp LSHFT    &none             &none             &none              &none      &none        &none  &none     &kp UP    &kp K_MENU
&kp LCTRL    &kp LWIN          &kp LALT          &none              &lt 2 RET  &lt 3 SPACE  &none  &kp LEFT  &kp DOWN  &kp RIGHT
&bootloader
            >;

            sensor-bindings = <&inc_dec_kp C_AC_ZOOM_IN C_AC_ZOOM_OUT>;
        };
    };
};
