/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                &kp Q      &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I     &kp O     &kp P
                &kp A      &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K     &kp L     &kp BSPC
                &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M     &kp SEMI  &kp SQT
                &kp LCTRL  &kp TAB  &kp LALT &kp ESC  &lt 2 RET &lt 3 SPACE &kp LT   &kp GT    &kp QMARK &kp DEL
            >;
            encoder-bindings = <&enc_ccw_pgup &enc_cw_pgdn &enc_home_end>;
        };
     
        num_layer {
            label = "Numb"; 
            bindings = <
                &kp N1     &kp AT   &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR
                &kp TAB    &kp TILDE &kp LBKT &kp RBKT &kp DOWN  &kp MINUS &kp PLUS &kp BSPC  &trans    &trans
                &kp LSHFT  &kp PLUS &kp MINUS &kp ASTRK &kp FSLH &kp LT    &kp GT   &kp QMARK &trans    &trans
                &kp LCTRL  &kp TAB  &kp LALT          &lt 2 RET         &lt 3 SPACE       &kp K_APP &kp DEL   &kp ESC
            >;
            encoder-bindings = <&enc_ccw_pgup &enc_cw_pgdn &enc_home_end>;
        };

        base_repeat_layer {
            label = "Symb";
            bindings = <
                &kp Q      &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I     &kp O     &kp P
                &kp A      &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K     &kp L     &kp BSPC
                &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M     &kp SEMI  &kp SQT
                &kp LCTRL  &kp TAB  &kp LALT          &lt 2 RET       &lt 3 SPACE       &kp LT    &kp GT    &kp QMARK
            >;
            encoder-bindings = <&enc_ccw_voldn &enc_cw_volup &enc_mute>;
        };

        func_layer {
            label = "Navi";
            bindings = <
                &kp ESC    &kp INS  &kp PG_UP &kp PG_DN &kp HOME &trans   &trans   &trans    &trans    &trans
                &kp TAB    &kp LEFT &kp DOWN  &kp RIGHT &kp DEL  &trans   &trans   &trans    &trans    &trans
                &trans     &trans   &trans    &trans    &trans   &trans   &trans   &kp UP    &kp END   &trans
                &kp C_MUTE &kp C_MUTE &kp C_MUTE      &kp RET          &kp SPACE         &kp LEFT  &kp DOWN  &kp RIGHT
            >;
            encoder-bindings = <&enc_ccw_zoomout &enc_cw_zoomin &enc_hold23_2s>;
        };
    };

    // ĐỊNH NGHĨA ENCODER MACROS
    enc_ccw_pgup: encoder_ccw_pgup {
        compatible = "zmk,behavior-tap";
        label = "ENCODER_CCW_PGUP";
        bindings = <&kp PG_UP>;
    };
    enc_cw_pgdn: encoder_cw_pgdn {
        compatible = "zmk,behavior-tap";
        label = "ENCODER_CW_PGDN";
        bindings = <&kp PG_DN>;
    };
    enc_mute: encoder_mute {
        compatible = "zmk,behavior-tap";
        label = "ENCODER_MUTE";
        bindings = <&kp C_MUTE>;
    };

    enc_ccw_voldn: encoder_ccw_voldn {
        compatible = "zmk,behavior-tap";
        label = "ENCODER_CCW_VOLDN";
        bindings = <&kp C_VOL_DN>;
    };
    enc_cw_volup: encoder_cw_volup {
        compatible = "zmk,behavior-tap";
        label = "ENCODER_CW_VOLUP";
        bindings = <&kp C_VOL_UP>;
    };

    // SỬA macro zoom dùng tổ hợp phím đúng chuẩn devicetree ZMK
    enc_ccw_zoomout: encoder_ccw_zoomout {
        compatible = "zmk,behavior-tap";
        label = "ENCODER_CCW_ZOOMOUT";
        bindings = <&kp LC &kp MINUS>;
    };
    enc_cw_zoomin: encoder_cw_zoomin {
        compatible = "zmk,behavior-tap";
        label = "ENCODER_CW_ZOOMIN";
        bindings = <&kp LC &kp EQUAL>;
    };

    enc_home_end: encoder_home_end {
        compatible = "zmk,behavior-hold-tap";
        label = "ENCODER_HOME_END";
        flavor = "hold-preferred";
        tapping-term-ms = <2000>;
        bindings = <&kp END &kp HOME>;
    };

    // Behavior hold-tap cho layer 3
    enc_hold23_2s: encoder_hold23_2s {
        compatible = "zmk,behavior-hold-tap";
        label = "ENCODER_HOLD23_2S";
        flavor = "hold-preferred";
        tapping-term-ms = <2000>;
        bindings = <&bootloader &bt BT_CLR>;
    };
};
